{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}healthyhealthy{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="icon" href="{% static 'img/icon2-round.png' %}" type="image/x-icon">
    {% block form_styles %}{% endblock%}
</head>

<body>
    {% block content %} {% endblock %}
    <footer>
        <p></p>
    </footer>
    <script src="{% static 'script/script.js' %}"></script>
</body>

</html>